nav ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  top: 0;
  width: 100%;
}
a {color:inherit;}
nav ul li a{
  border: 1px solid #555;
  display: block;
  color: #333;
  text-align: center;
  font-family: sans-serif;
  padding: 5px 0px;
  text-decoration: none;
}
nav ul li a:hover {
  background-color: #e0e0e0;
}

#Main{
  float: left;
  width: 100%;
  height: 100%;
  background: green;
}
#Content{
  padding: 1%;
  background: red;
}
#Top-Content{
  background: yellow;
  display: flex;
}

#Bottom-Content{
  background: orange;
}
#menu-return
{
  padding: 25px 20px;
  border-radius: 25%;
}
#menu-return:hover{
    background-color: #333;
    color: white;
}
