nav ul li {float: left; width: 33.31%;}

#Item-Picture{
  float: left;
  width: 60%;
  background: blue;
}
#Top-Content{
  display: flex;
}
#Item-Picture h1{
  text-align: center;
}
#Item-Picture img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10%;
  max-width: 250px;
  height: auto;
}
#Item-Content{
  display: block;
  flex: 1;
  background:pink;
}
#Item-Content ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#Related-Content{
  background: #e0e0e0;
}
.metadata-field{
  margin-left: 25%;
  float: right;
}
#Related-Books img{
  margin-left: auto;
  margin-right: auto;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 2.5%;
  max-width: 150px;
  height: auto;
}
#Item-Content ul li p
{
  font-size: 12px;
}

/*https://stackoverflow.com/questions/602168/in-css-what-is-the-difference-between-and-when-declaring-a-set-of-styles*/
