ul{list-style-type: none;}
nav ul {
  margin: auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  top: 0;
  width: 100%;
  position: fixed;
}
a {color:inherit;}
nav ul li a{
  border: 1px solid #555;
  display: block;
  color: #333;
  text-align: center;
  font-family: sans-serif;
  padding: 5px 0px;
  text-decoration: none;
}
nav ul li a:hover {
  background-color: #e0e0e0;
}

#Main{
  float: left;
  width: 100%;
  height: 100%;
  background: green;
}
#Content{
  padding: 1%;
  background: lightgrey;
}
#Top-Content{
  background: yellow;
}

#Bottom-Content{
  background: grey;
}

/*<!-- Code from original https://arc.lib.montana.edu/ivan-doig/item pages -->*/
#Bottom-Content ul {
    clear: both;
    padding: 10px 0;
    width: 100%;
    margin: 0;
    font-size: 0.85em;
    border-top: 1px solid #ecebeb;
}

#Bottom-Content ul li#links {
    float: left;
    width: auto;
}
#Bottom-Content  ul li#info {
    float: right;
    width: auto;
}
#Bottom-Content  ul li {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 3px 7px;
}
